.index-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.index-card {
  display: flex;
  align-items: center;
  background-color: rgba(220,220,220,0.5);
  padding: 15px;
  border-radius: 5px;
  h2 {
    font-size: 20px;
  }
}

.index-card-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(220,220,220,0.5);
  padding: 15px;
  border-radius: 5px;
  height: 180px;
  color: black;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
