.random-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.random-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answer {
  font-weight: bold;
  font-size: 24px;
  color: red;
  margin-left: 5px;
}

.correct-answer {
  font-weight: bold;
  font-size: 24px;
  color: green;
  margin-left: 5px;
  margin-bottom: 0;
}

#name, #activity {
  width: 250px;
}

.no-margin {
  margin-bottom: 0;
}
