.random-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.random-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
