<div class="trombi-navbar">
  <%= link_to "Home", root_path %>
  <div>
    <%= link_to "All Profiles", profiles_path, class: "mr-5" %>
    <%= link_to "Create Profile", new_profile_path, class: "btn-trombino-small" %>
  </div>
</div>
