<div class="banner">
  <%= image_tag "home.jpg", id: "home-banner" %>
  <h1>Welcome to <span id="banner-title">TrombinoGO!</span></h1>
</div>
<div class="content">
  <%= link_to "Start the GAME", "#", id: "btn-home" %>
</div>
