<div class="banner">
  <%= image_tag "home.jpg", id: "home-banner" %>
  <div>
    <h1 class="mb-5">Welcome to TrombinoGO!</h1>
    <%= link_to "Start the GAME", random_path, id: "btn-home" %>
  </div>
</div>
<div class="content">
  <%#= link_to "Play randomly", random_path, id: "btn-home-reverse", class: "ml-5" %>
</div>
