<div class="banner">
  <%= image_tag "home.jpg", id: "home-banner" %>
  <h1>Welcome to <span id="banner-title">TrombinoGO!</span></h1>
</div>
<div class="content">
  <%= link_to "Start the GAME", random_path, id: "btn-home" %>
  <%#= link_to "Play randomly", random_path, id: "btn-home-reverse", class: "ml-5" %>
</div>
