.trombi-navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 100px;
  a {
    color: black;
  }
  a.btn-trombino-small {
    color: white;
  }
}
